.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PlayerGrid{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}
.PlayerCard{
  width: 15%;
  text-align: center;
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  background:silver;
}

.dark-mode{
  background: black;
  color: white;
}
.dark-box{
  border: 1px solid white;
}

.dark-mode .PlayerCard{
  border: 1px solid white;
  background: rgb(39, 39, 39);
}